@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Roboto';
  background-color: #000000
  /* overflow: hidden; */
  /* overscroll-behavior: none; */
}
.markdownContent {
  * {
    color: #191c1d;
    max-width: 100%;
    font-size: inherit;
    margin: initial;
  }
}

.relative {
  position: relative !important;
  z-index: -1;
}

.absolute {
  position: absolute !important;
}

canvas {
  display: block;
}
#block {
  height: 100px;
  width: 100px;
  position: absolute;
  background: red;
}

// * {
//   margin: 0;
// }

.load-screen {
  position: relative;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #19bc8b;
  width: 0%;
  height: 100%;
}

.load-screen1 {
  position: relative;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #5f6466;

  height: 100%;
  width: 0%;
}
.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}
.noOpacity {
  opacity: 0;
}
.Home,
.Contact {
  height: 100vh;
  width: 100%;
  position: relative;
}

.Contact {
  background-color: #191c1d;
  color: white;
  text-align: center;
  position: fixed;
  z-index: 0;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  transform: none;
}

.information {
  position: absolute;
  top: 100vh;
  width: 100%;
  z-index: 1;
}

h1 {
  font-family: serif;
  font-size: 7vw;
}

// Nav bar
.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin: 20px 90px;
  /* color: white; */
  /* mix-blend-mode: difference; */
  z-index: 100;
  .project {
    color: white;
    mix-blend-mode: difference;
  }
  h2,
  a {
    font-weight: 600;
    font-size: 1.3em;
    text-decoration: none;
  }
}

.nav {
  opacity: 1;
  height: fit-content;
  cursor: pointer;
  position: fixed;
  top: 30%;
  right: 1%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 35px;
  list-style: none;
  margin: 0%;
  padding: 0;
}

.sideBar {
  width: 10px;
  height: 100%;
}

#background {
  width: 10px;
  z-index: -1;
}

.marker {
  background-color: white;
  border-radius: 4px;
  width: 0%;
  min-width: 8px;
  height: 16px;
  margin: 20px;
}

.visHide {
  visibility: hidden;
  color: white;
  margin: 20px;
  margin-right: 50px;
  font-size: 12px;
  width: 50px;
  p{
    margin:0;
  }
}

.flexItems {
  display: flex;
  justify-content: flex-end;
  height: 50px;
}

canvas {
  z-index: 100;
}

.button {
  background: none;
  color: hsl(0, 0%, 98%);
  border: 2px solid hsl(0, 0%, 98%);
  font-family: "Karla", sans-serif;
  text-decoration: none;
  outline: none;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  padding: 8px 8px;
  height: fit-content;
  display: inline-block;
  margin-top: 30px;

  &:hover {
    background-color: hsl(0, 0%, 98%);
    color: black;
    transition: 0.5s;
  }
}

.textContainer {
  margin: 50px auto 0 auto;
  width: 100%;
  max-width: 1200px;
  font-size: 20px;
  line-height: 1.6em;
  box-sizing: border-box;
  padding: 20px;
  *{
    padding: 0px;
  }
  h3.large {
    font-size: 80px;
    margin: 20px 20px 20px 0px;
    line-height: normal;
    color: #191c1d;
  }
  h4 {
    color: #191c1d;
  }
  div {
    padding: 0px;
  }
  ul {
    padding: 0 20px;
  }
  a {
    display: inline-block;
    width: fit-content;
  }
  a.block {
    display: block;
  }
  @media(max-width: 900px){
    font-size: 16px;
   
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

.projectClass {
  position: absolute;
  top: 33%;
  left: 10%;
  margin: 20px;
  color: white;
}

.imageDescription {
  color: #484b4c;
  font-size: 15px;
  padding: 0;
  margin: auto;
  width: fit-content;
}

.about {
  background-color: #191c1d;
  color: white;
  overflow: hidden;
}

.textFadeIn {
  opacity: 0;
}
.gsap-marker-scroller-start,
.gsap-marker-scroller-start,
.gsap-marker-scroller-end,
.gsap-marker-end,
.gsap-marker-start {
  display: none !important;
}

button span svg{
  position: inherit;
}

svg {
  font: bold 70px Century Gothic, Arial;
  height: 173px;
  position: absolute;
  bottom: 63px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  right: 0px;
  z-index: 10;
}

text {
  fill: none;
  stroke: white;
  stroke-width: 0.1px;
  stroke-linejoin: round;
  font-size: 124px;
  font-family: "Anton";
  letter-spacing: 0.4px;
  display: block;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 70%;
  top: 100px;
  left: 50%;
  position: absolute;
}

.viewport {
  position: absolute;
  pointer-events: none;
  width: 90%;
  width: calc(70% + 8px);
  top: 100px;
  left: 50%;
  border: 2px solid #ddd;
}

.num {
  position: absolute;
  color: #555;
  color: #fafafa;
  font-size: 18px;
  line-height: 1;
  top: 14px;
  left: 8px;
  text-shadow: 1px 1px 0px #555, -1px -1px 0px #555, 1px -1px 0px #555,
    -1px 1px 0px #555;
}

.box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxes {
  position: relative;
}

.div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
}

.h5 {
  margin-bottom: 30px;
}

.slider {
  display: flex;
  height: 100%;
  width: fit-content;
  flex-shrink: 0;
  transition: all 0.5s;
  section img {
    margin: 50px auto auto auto;
    cursor: grab;
  }
}

.carousel {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
  margin: auto;
  position: relative;
  .slider section {
    font-size: 20px;
    width: 100vw;
    position: relative;
    text-align: center;
  }
  .slider section .details {
    position: relative !important;
    top: auto !important;
    left: auto !important;
  }
}

.controls button.next {
  right: 20px;
}
.controls button.prev {
  left: 20px;
}

.controls button.prev,
.controls button.next {
  position: absolute;
  top: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  span svg {
    position: inherit;
  }
}
.controls button i {
  font-size: 50px;
}

.smallProjectImage img {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  max-width: 800px;
  margin-top: 50px;
}

.navVertical {
  position: absolute;
  bottom: 0%;
  margin: auto;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 35px;
  list-style: none;
  gap: 3em;
  justify-content: center;
  width: 100%;
  .marker {
    background-color: white;
    border-radius: 4px;
    width: 16px;
    min-width: 8px;
    height: 10px;
    margin: 20px;
    position: absolute;
    cursor: pointer;
  }
}

.details {
  width: 50%;
  pointer-events: none;
  a{
    pointer-events: all;
  }
}
a{
  pointer-events: all;
  cursor: pointer;
}
.container {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transform: translateX(200px);
}

.content {
  max-width: 100%;
  margin: 0 0;
  padding: 0;
}

#contactInfo{
  display:flex;
 padding:0;
  #contact, .form{
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    button{
      margin: 20px 0;
    }
  }
}

//Media queries
@media (max-width: 1100px) {
  #contactInfo{
    display: block;
    padding:20px;
    #contact, .form{
      width: 100%;
      padding: 0;
      button{
        margin: 20px auto;
      }
    }
  }

  .about.textContainer{
    margin:0;
  }
  .textContainer {

    .flex {
      display: block;
    }
    h3.large {
      font-size: 10vw;
    }
    .flex .flexSmall {
      display: flex;
    }
  }
  .projectClass {
    position: relative;
    top: auto;
    left: auto;
  }
  .about{
    h2,h3,h4,h5{
      text-align: center;
    }
    hr{
      margin-bottom: 20px;
    }
    
  }
}
.details h1{
  margin: 0px;
}
@media (max-width: 600px) {
  .details {
    width: 90%;
    max-width: 600px;
    h1 {
      margin: 10px;
    }
    button {
      margin: 5px;
    }
    p {
      font-size: 16px;
    }
  }
  .top {
    margin: 15px 90px;
    font-size: 0.7em;
  }
}
#flexHeader{
    display: flex;
    gap: 1em;
    justify-content: center;
    padding: 0;
    margin-bottom: 20px;
    h2{
      font-size:3em;
    }
}


@media (max-width: 700px) {
  #flexHeader {
    flex-direction: column;
    h2 {
      line-height: initial;
      font-size: 2em;
      margin: auto;
    }
    div {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
}

@media (max-width: 600px) {
  .buttonParent button {
    height: fit-content !important;
    width: fit-content !important;
  }
}

@media (max-width:1100px){
  .information{
    .textContainer.flex{
      display: block;
    }
    
  }
  .textContainer.flex{
    display: block;
  }
  .smallFlex{
    display: flex;
    & > div{
      width: 50%;
    }
  }
}
.information{
  ul li{
    margin: 0;
    padding: 0;
  }
}

